@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model != null && Model.ShowRequestId && !string.IsNullOrEmpty(Model.RequestId))
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
else
{
    <p>
        It looks like something went wrong.
        <a href="@Url.Action("Index", "Backoffice")">Click here</a> to go to the Backoffice.
    </p>
}