@using MongoDB.Bson.IO
@using MongoDB.Bson
@model List<MongoDB.Bson.BsonDocument>

@{
    ViewData["Title"] = "Home Page";
}

<h1>@ViewData["Title"]</h1>
<h2>Dados do MongoDB:</h2>

<a href="@Url.Action("Index", "Home", new { limit = 5 })">Load 5 Documents</a>

<ul>
    @foreach (var document in Model)
    {
        //<li>@document.ToJson(new JsonWriterSettings { Indent = true })</li>
        @document.ToJson(new JsonWriterSettings { Indent = true })

    }
</ul>
