@model MongoDB_Code.Models.IndexModel
@using MongoDB.Bson
@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Documents != null && Model.Documents.Any())
{
    <ul>
        @foreach (var document in Model.Documents)
        {
            <li>@document.ToJson()</li>
        }
    </ul>
}
else
{
    <p>No documents found.</p>
}
