@page
@model MongoDB_Code.Models.IndexModel
@using MongoDB.Bson
@using MongoDB.Bson.IO



<h2>Dados do MongoDB:</h2>
<ul>
    @if (Model.Documents != null && Model.Documents.Any())
    {
        foreach (var document in Model.Documents)
        {
            <li>@document.ToJson(new MongoDB.Bson.IO.JsonWriterSettings { Indent = true })</li>
        }
    }
    else
    {
        <li>Nenhum documento encontrado.</li>
    }
</ul>